<div class="container">
  <div class="row justify-content-center " style="margin-top: 60px;">
    <h1>Education</h1>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4" align="center">
      <div class="flip-card card1">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="row justify-content-center e-name">
              <h3>SVP High School</h3>
            </div>
            <div class="row justify-content-center" style="margin-top:20px;">
              <img src="assets/images/svp.jpg" class="eimg" alt="school" style="width:80%; ">
            </div>
          </div>
          <div class="flip-card-back">
            <div class="ver-align">
              <h1>GSEB</h1>
              <h2>SSC</h2>
              <b><h3>90.6%</h3></b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" align="center">
      <div class="flip-card card2">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="row justify-content-center e-name">
              <h3>D N Hign School</h3>
            </div>
            <div class="row justify-content-center" style="margin-top:20px;">
              <img src="assets/images/dn.jpg" class="eimg" alt="school" style="width:80%; ">
            </div>
          </div>
          <div class="flip-card-back">
            <div class="ver-align">
              <h1>GHSEB</h1>
              <h2>HSC</h2>
              <b><h3>93.67%</h3></b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" align="center">
      <div class="flip-card card3">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="row justify-content-center e-name">
              <h3>BVM Engg. College</h3>
            </div>
            <div class="row justify-content-center" style="margin-top:20px;">
              <img src="assets/images/bvm.jpg" class="eimg" alt="school" style="width:80%; ">
            </div>
          </div>
          <div class="flip-card-back">
            <div class="ver-align">
              <h1>GTU</h1>
              <h2>B.E.(Comp)</h2>
              <b><h3>8.32 CGPA</h3></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>