<!-- <div class="container">
  <div class="row justify-content-md-center">
      <a><i class='fab fa-github' style='font-size:36px'></i></a>
  </div>
</div> -->

<div class="footer">
  <a href="https://github.com/abhishek67parmar/"><i class='fab fa-github' style='font-size:36px'></i></a>
  <a href="https://www.linkedin.com/in/abhishekparmar67/"><i class='fab fa-linkedin-in ' style='font-size:36px; '></i></a>
  <a href="https://twitter.com/__abhi__67?lang=en"><i class='fab fa-twitter' style='font-size:36px; '></i></a>
  <a href="https://codepen.io/imabhi67/"><i class='fab fa-codepen' style='font-size:36px; '></i></a>
  <a href="https://www.facebook.com/profile.php?id=100004691955485"><i class='fab fa-facebook-f' style='font-size:36px; '></i></a>
  <a href="https://www.instagram.com/iamabhi67/"><i class='fab fa-instagram' style='font-size:36px; '></i></a>
</div>