<div class="container home">

  <div class="row justify-content-md-center name">
    <div class="col-md-4">
      <p>Abhishek Parmar</p>
    </div>
  </div>



  
  <div class="row justify-content-md-center">
    <div class="lln1"></div>
    <div class="round"></div>
  
    <div class="rln1"></div>
    <div class="round2"></div>

    <div class="col-md-4">
      <img src="assets/images/abhi.jpg" alt="Abhishek Parmar" class="pic">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4 info">
      <p>&lt;/Web Developer&gt;</p>
      <p>Anand, Gujarat.</p>
      <p>M +91 9586663201</p>
    </div>
  </div>
</div>