<div class="container home">

  <div class="row justify-content-md-center name">
    <div class="col-md-4">
      <h1>Abhishek Parmar</h1>
    </div>
  </div>



  
  <div class="row justify-content-md-center">
    <div class="lln1"></div>
    <div class="lln2"></div>
    <div class="lln3"></div>
    <div class="lln4"></div>
    <div class="lln5"></div>
    <div class="lln6"></div>
    <div class="lln7"></div>
    <div class="lln8"></div>
    <div class="round"></div>
  
    <div class="rln1"></div>
    <div class="rln2"></div>
    <div class="rln3"></div>
    <div class="rln4"></div>
    <div class="rln5"></div>
    <div class="rln6"></div>
    <div class="rln7"></div>
    <div class="rln8"></div>
    <div class="round2"></div>

    <div class="col-md-4">
      <img src="assets/images/abhi.jpg" alt="Abhishek Parmar" class="pic">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4 info">
      <p>&lt;/Web Developer&gt;</p>
      <p>Anand, Gujarat.</p>
      <p>M +91 9586663201</p>
    </div>
  </div>
</div>