.home{
    padding-bottom: 40;
}
.name {
    color: #f7bd0e;
    margin-top: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.pic {
    border-radius: 50%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.lln1{
    position: absolute;
    top: 30%;
    height:5px;
    width: 0%;
    background-color: #f1ef4d;
    left: 0%;
    
}

.round {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 29.2%;
    border-radius: 50%;
    background-color: #f1ef4d;
    left: 0%;
  }


  .rln1{
    position: absolute;
    top: 50%;
    height:5px;
    width: 0%;
    background-color: #f1ef4d;
    right: 0%; 
    
}

.round2 {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 49.2%;
    border-radius: 50%;
    background-color: #f1ef4d;
    right: 0%;
  }


.info p {
    color: #9589a0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}